<mat-toolbar color="primary" class="fixed-header">
  <div fxLayout fxFlex>
    <div fxFlex="50" class="title" fxLayoutAlign="start center">
      eCart System
    </div>
    <div fxFlex="50" fxLayoutAlign="end center" fxLayoutGap="30px">
      <button (click)="onLogout()" mat-icon-button matTooltip="Click to logout">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="home-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="home-sidenav"
    [fixedInViewport]="false"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

