.home {
  margin: 15px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  .title {
    font-size:30px;
  }
}

.home-container {
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
}
.home-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.task-fields {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  ::ng-deep .mat-form-field-infix {
    padding: 0.5em 0 1em 0;
  }
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
